<header class="template-header">
	<div class="container">
		<!--{{widget('logo', 'header-logo', {"defaultlogo": asset('images/logo.png')})|raw}}-->
		{{widget('companyname', 'companyname', {"business": "VISBY", "showTplWidget":"1"})|raw}}
		{{widget('extendednavigation', 'header-nav', {"align":"right"})|raw}}
		{{widget('ecombasket', 'shopbasket', {})|raw}}
	</div>
</header>
